
.thumbnail{
/*  height: 100px; */
/*  position:relative;*/
/*  padding-bottom:75%;*/
/*  vertical-align: center;*/
/*  justify-content: center;*/
/*  justify-items: center;*/
/*  justify-self: center;*/
/*  overflow:hidden;*/
  text-align: center;
/*  align-items: center;*/
/*  vertical-align: middle;*/
}

.experience-item{
  display: flex; 
  align-items: flex-start; 
  margin-bottom: 2rem;
}

/* .experience-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  gap: 16px;
} */

.experience-item img {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  margin-left: 0px;
  margin-right: 16px; 
  margin-top: 4px;
  flex-shrink: 0;
  object-fit: contain;
}

.experience-item .content {
  flex: 1;
}

.experience-item h5 {
  margin-bottom: 0.5rem;
}

.experience-item p {
  margin-bottom: 0.5rem;
}

.projects col{
/*
  justify-content: center;
  align-items: center;
  flex:auto
*/
/*  text-align: center;*/
/*  vertical-align: middle;*/
/*  margin: auto;*/
}

.projects img{
/*  position:absolute;*/
  width: 75%;
/*  vertical-align: middle;*/
/*  text-align: center;*/
/*  object-fit: cover;*/
  padding: 10%
}